<form (keyup.enter)="exploreCourses()" style="position: relative; overflow: auto;">
  <div>
    <p class="custom-card-title">Compare courses using our algorithm</p>
    <div class="col-md-12" style="background-color: #fffffffa;text-align: left; position: relative; padding: 20px;">

      <div class="forms-group">
        <mat-form-field class="input">
          <mat-select required placeholder="Select courses from" [formControl]="pokemonControl">
            <mat-optgroup *ngFor="let country of countries" [label]="country.name">
              <mat-option *ngFor="let university of country.universities" [value]="university"
                          (click)="queryHomeCountry=country; queryHomeUniversity = university; filterCoursesByHomeUniversity()">
                {{university.name}}
              </mat-option>
              <mat-option *ngFor="let faculty of country.faculties" [value]="faculty"
                          (click)="queryHomeCountry = country;queryHomeFaculty = faculty; filterCoursesByHomeFaculty()">
                {{faculty.name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <div *ngIf="(queryHomeUniversity || queryHomeFaculty) && filteredHomeCourses.length > 0 ">
          <mat-form-field *ngIf="listCourses.length == 0" class="input" style="width:80%">
            <input placeholder="Add course to compare list" matInput [formControl]="homeCoursesControl"
                   [matAutocomplete]="home_courses_auto" [(ngModel)]="queryHomeCourse" (ngModelChange)="addCourseToList(queryHomeCourse)"
                   required >

            <mat-autocomplete #home_courses_auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let course of filteredHomeCoursesAutocomplete | async" [value]="course">
                {{ course.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

                      <mat-form-field *ngIf="listCourses.length > 0" class="input" style="width:80%">
            <input placeholder="Add course to compare list" matInput [formControl]="homeCoursesControl"
                   [matAutocomplete]="home_courses_auto" [(ngModel)]="queryHomeCourse" (ngModelChange)="addCourseToList(queryHomeCourse)"
                    >

            <mat-autocomplete #home_courses_auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let course of filteredHomeCoursesAutocomplete | async" [value]="course">
                {{ course.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-chip-list>
            <mat-chip *ngFor="let course of listCourses" style="height: 30px;">
              {{course.name}}
              <button mat-icon-button (click)="listCourses.splice(listCourses.indexOf(course),1)">
                <mat-icon matTooltip="Remove from comparison list">clear</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

            <div *ngIf="(queryHomeUniversity || queryHomeFaculty) &&  filteredHomeCourses.length == 0 && !loadingCourses">
            <p>Sorry, we currently don't have any course for this faculty in our database.</p>
        </div>
      <div class="forms-group" style="margin-top: 10px;">
        <mat-form-field class="input">
          <mat-select required placeholder="Compare with courses from" [formControl]="pokemonControl">
            <mat-optgroup *ngFor="let country of countries" [label]="country.name">
              <mat-option [value]="country"
                          (click)="queryCountry = country; queryUniversity = null; queryFaculty= null;"
              >-- All in {{country.name}} --
              </mat-option>
              <mat-option *ngFor="let university of country.universities" [value]="university"
                          (click)="queryUniversity = university; queryFaculty= null;"
                          (click)="queryUniversity = university; queryFaculty= null;">
                {{university.name}}
              </mat-option>
              <mat-option *ngFor="let faculty of country.faculties" [value]="faculty"
                          (click)="queryFaculty = faculty; queryUniversity = null;">
                {{faculty.name}}
              </mat-option>
            </mat-optgroup>
            </mat-select>
        </mat-form-field>
      </div>

      <br>
      <div style="text-align: center;">

        <button mat-raised-button color="primary" (click)="compareCourses()"
                [disabled]="!((queryFaculty ||queryUniversity || queryCountry ) && listCourses.length > 0) "
        >Compare
        </button>
        <mat-icon color="primary"
                  matTooltip="To compare please select at least one course and a destination faculty, university or country"
                  *ngIf="!((queryFaculty ||queryUniversity || queryCountry ) && listCourses.length > 0)">help
        </mat-icon>
      </div>
    </div>
  </div>

  <div id="search-component-spinner" *ngIf="comparatorStarted">
    <mat-spinner></mat-spinner>
  </div>
</form>
