.container {
    margin-top: 5%;
    align-self: center;
    background: white;
    max-width: 80%;
    margin-bottom: 100px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
  }
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    border-radius: 5px;
    color: white;
    background-color: rgba(56, 65, 143, 0.85);
}

.top_gradient{
  border-top: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, #b0b0b0, white);
  -webkit-border-image: -webkit-linear-gradient(right, #b0b0b0, white);
  border-image: linear-gradient(to right, #b0b0b0, white);
  border-image-slice: 1;
}

table, th, td {
    /*border: 1px solid rgb(208, 206, 206);*/
    border-collapse: collapse;
    vertical-align: center;
}
td{
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}
table {
    border-spacing: 5px;
    background-color:rgba(255, 255, 255, 0.768);
    position: relative;
    align-self: center;
}
.description{
    text-align : justify;
}
.details{
    width: 49%;
    float: left;
    margin-right: 1%;

}
.social{
    width: 49%;
    float: left;
    margin-left: 1%;
}
.columns{
    background-color:rgba(232, 228, 228, 0.809);
}
.columns:after{
    content: "";
    display: table;
    clear: both;
}
.logoU {
    margin-top: -50px;

    margin-left: 75%;
    /*position: absolute;*/
    background-color: white;
    /*border-radius: 80px;*/
    /*top: 0px;*/
    border: 1px solid lightgrey;
    border: 1px solid lightgrey;
}

.mat-dialog-container {
  padding: 0 !important;
}
