<div>
  <p *ngIf="!course"loading>course:</p>

  <div *ngIf="course">
  <p>Name: {{course.name}}</p>
  <p>Description: {{course.description}}</p>
  <p>ECTS: {{course.ects}}</p>
  <p>English_level: {{course.englishLevel}}</p>
  <p>Semester: {{course.semester}}</p>
  <p>Modified: {{course.modified}}</p>
  <p>Created: {{course.created}}</p>

  <p>Faculty: {{course.faculty}}</p>
  <p>University: {{course.university}}</p>
  <p>City: {{course.city}}</p>
  <p>Country: {{course.country}}</p>

</div>

</div>

