.container {
    margin-top: 5%;
    align-self: center;
    background: white;
    max-width: 80%;
    margin-bottom: 100px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
  }
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    border-radius: 5px;
    color: white;
    background-color: rgba(56, 65, 143, 0.85); 
}

table, th, td {
    border: 1px solid rgb(186, 185, 185);
    border-collapse: collapse;
    vertical-align: center;
}
td{
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}
table {
    border-spacing: 5px;
    background-color:rgba(255, 255, 255, 0.768);
    position: relative;
    align-self: center;
}
.description{
    text-align : justify;
}
.details{
    width: 49%;
    float: left;
    margin-right: 1%;

}
.social{
    width: 49%;
    float: left;
    margin-left: 1%;
}
.columns{
    background-color:rgba(232, 228, 228, 0.809);
}
.columns:after{
    content: "";
    display: table;
    clear: both;
}