.container {
  margin-top: 1.5%;
  align-self: center;
  background: white;
  width: 97%;
  max-width: 97%;
  margin-bottom: 1.5%;
  box-shadow: 0 .5px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  -webkit-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
  -box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
}
.where{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(65, 65, 65);
  font-weight: lighter;
}
p{
  color: rgb(65, 65, 65);
}

.title {  
  font-family: 'Roboto', sans-serif;
  font-size: 180%;
  color: white;
  background:linear-gradient(to bottom, rgb(116,153,227), rgb(47, 75, 131));;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  padding: 5px;
  color: white;
  background:linear-gradient(to bottom, rgb(116,153,227), rgb(47, 75, 131));
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .description {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    width: 75%;
    margin: 2%;
    color: rgb(65, 65, 65);
    margin-right: 0% !important;
    align-self: center;
    background: white;
  }

  h3 {
    text-align: left;
  }

  .details {
    width: 19%;
    float: left;
    margin: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 0% !important;
    align-self: center;
    background: white;
  }
}

@media only screen and (min-width: 900px) {
  .description {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2%;
    align-self: center;
    color: rgb(65, 65, 65);
    background: white;
    padding-bottom: 10px;
  }

  .details {
    margin: 2%;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
    align-self: center;
    background: white;
    float: center;
    color: rgb(65, 65, 65);
  }

  /*
  .social{
      width: 49%;
      float: left;
      margin-left: 1%;
  }
  */
  .columns {
    background-color: rgba(242, 242, 242, 0.809);
  }

  .columns:after {
    content: "";
    display: table;
    clear: both;
  }
}
