<div style="height: 70px;">
  <div style="max-width: 1000px; margin-left: auto; margin-right: auto; vertical-align: middle;">
    <button mat-button [routerLink]="['/universities']" style=" display: inline-block;vertical-align: middle;">
      Universities
    </button>
    <mat-icon style=" display: inline-block;vertical-align: middle;">chevron_right</mat-icon>
    <button mat-button [routerLink]="['/university/' + university.id]" style=" display: inline-block;vertical-align: middle;">
      University
      {{university.id}}
    </button>
  </div>
</div>
<!--<div id="search-component-spinner" *ngIf="!university.id" >
    <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
  </div>-->

<mat-card *ngIf="university">
  <mat-card-title class="intrev-card-title">University #{{university.id}}
    <mat-card-subtitle style="color: white; margin-bottom: 0;">Editing university resource</mat-card-subtitle>
  </mat-card-title>


  <div>

    <br>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="university.name">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <textarea style="height:100px" matInput placeholder="Description" [(ngModel)]="university.description"></textarea>
    </mat-form-field>
<br>
    <div class="" *ngIf="task != 'copy'">
      <label>Image: </label>
      <button id="main_image_btn" mat-button onclick="document.getElementById('main_image').click()"
              style="float: right;">
        <mat-icon>photo</mat-icon>
        SELECT A PHOTO
      </button>
      <div style="text-align: center; padding: 20px;" *ngIf="university">
        <img id="main_img_img" height="150" [src]="university.img" (error)="setMainImgToDefault()">
      </div>
      <input *ngIf="university" class="mdl-textfield__input" type="file"
             name="main_image" id="main_image"
             (change)="onImageInputChange($event, true)"
              style="display: none;">
    </div>
  </div>
  <mat-card-actions style="text-align: center;">
    <button mat-button *ngIf="university.id" (click)="saveUniversity(true)">
      <mat-icon>save</mat-icon>
      SAVE
    </button>
    <button mat-button *ngIf="!university.id" (click)="addUniversity()">
      <mat-icon>add</mat-icon>
      ADD
    </button>
  </mat-card-actions>
</mat-card>

