<footer class="footer-distributed">
    
          <div class="footer-right">
    
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
    
          </div>
    
          <div class="footer-left">
    
            <p class="footer-links">
              <a href="#">EXPLORE & COMPARE</a>
              ·
              <a href="#">ABOUT</a>
              ·
              <a href="#">DOCUMENTATION</a>
            </p>
    
            <p>Csyllabus &copy; 2018</p>
          </div>
    
        </footer>
    
