/* Table Result Definition */
/* -*- coding: utf-8 -*-
# @Author: Adrien Roques
# @Date:   2017-11-03
# @Last Modified by:   Adrien Roques
# @Last Modified time: 2017-11-05 */
.explorer-table-container {
  display: flex;
  flex-direction: column;
  position: relative;
}


.explorer-table-header {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-header-row {
  background: #3F51B5;
  font-size: 14px;
  
}

.mat-table {
  overflow: auto;
  text-align: left;

}

.mat-header-cell {
  color: #F8F8FF;
  font-size: 18px;
  font-weight: bold;
  
}

.mat-cell {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.mat-card {
  min-width: 100%;
}

.mat-column-score {
  flex: 0 0 5%;
  font-size: 20px;
  justify-content: center;
}
