
<div style="text-align:center">
  <app-core></app-core>
</div>

<!-- sample calls for services - to remove 

<h1>
    Welcome to {{title}}!
  </h1>
</div>

<ul>

  <li>
    Countries
  </li>

  <ul>
    <li *ngFor="let country of countries">
      {{country.name}}
    </li>
  </ul>

  <li>
    Cities
  </li>

  <ul>
    <li *ngFor="let city of cities">
      {{city.name}}
    </li>
  </ul>

  <li>
    Universities
  </li>

  <ul>
    <li *ngFor="let university of universities">
      {{university.name}}
    </li>
  </ul>

  <li>
    Faculties
  </li>

  <ul>
    <li *ngFor="let faculty of faculties">
      {{faculty.name}}
    </li>
  </ul>

  <li>
    Programs
  </li>

  <ul>
    <li *ngFor="let program of programs">
      {{program.name}}
    </li>
  </ul>

  <li>
    Courses
  </li>

  <ul>
    <li *ngFor="let course of courses">
      {{course.name}}
    </li>
  </ul>


</ul>


*getting data from mock-api

-->


