.bg-transparent {
    background-color: transparent;
  }
  
  :host {
    height: 100%;
  }
  
  .photo {
    object-fit: contain;
  }
  
  .card {
    width: 20rem;
    margin: 0 auto;
  }
  .Facebookbutton{
    height: 40px;
    width: 40px;
    background-image: url('Facebookicon.svg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
  }
  button:hover{
    background-color: rgba(0, 0, 255, 0.241);
  }
  .Googlebutton{
    height: 40px;
    width: 40px;
    background-image: url('Google-plus-icon.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
  }