.courseCard {
  padding: 2%;
  float: left;
  text-align: left;
  height: 350px;
  max-height: 350px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .courseCard {
    height: auto;
    max-height: none;
    padding-top: 2px;
    padding-bottom: 2px;
  }

}

@media only screen and (max-width: 1000px) {

  .hideImg {
    display: none;
  }
}

.courseDescription {
  text-overflow: ellipsis;
  color:white;
  max-height: 200px;
  overflow: hidden;
  padding:10px 10px 10px 10px;
  text-align:justify
}

.cours-result-card-title {
  /*height: 75px;*/
  margin-top:5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  color: white;
  padding-bottom: 2px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    opacity: 1.0;
  }
}

.example-card {
  transition: all .2s ease-in-out;
  //color:white;
}

.example-card:hover {
  transform: scale(1.1);
}

.bck-color-blue {
  background-color:#9999f9
}

.bck-color-green {
  background-color:#5ab95a
}

.bck-color-red {
  background-color:#ff7575
}

.bck-color-orange {
  background-color:#f3b94d
}

.bck-color-grey {
  background-color:#9e9d9d
}

.bck-color-purple {
  background-color:#d685c5
}


@media only screen and (min-width: 768px) {
  .example-card {
  height: 350px;
}

}

.go-to-compare{

  margin-left: 90%;

  font-size:20px;

  margin-bottom:0px;

  margin-top:0px;

  color: white;
}

.go-to-compare {
  transition: all .2s ease-in-out;
}

.go-to-compare:hover {
  transform: scale(1.5);
  color: #394680;
}

.card-title-style {
  margin-top:-25px;
  text-align:left;
  padding: 5px;
  width: calc(100% + 64px);
  margin-left: -32px;
}


.bck-white {
  width: calc(100% + 50px);
    margin-left: -25px;
    margin-top:-25px;
    background-color: white;
    height: 200px;
}

.subtitle-white{
  width: calc(100% + 64px);
    margin-left: -32px;
    background-color: white;
    padding:0;
    margin:0;
}
