.header{
    top:0;
    left: 0;
    position: relative;
}
h3{
    color:rgb(47, 75, 131);
    font-size: 20px;
}
.personname{
    border: 1px;
}
h2{
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    color:rgb(65, 65, 65);
    font-family: 'Roboto', sans-serif;
}
.content{
    margin-left:10%;
    margin-right:10%;
    text-align: justify;
}
.general{
    margin-left:10%;
    margin-right:10%;
    text-align: justify;
    float: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 80px;
}
.logo{
    margin-left:15%;
    margin-right:15%;
    text-align:justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.row2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.row3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
@media only screen and (min-width: 900px) {
    .row1{
        width: 30%;
        float: left;
        height: 500px;
        min-height: 560px !important;
    }
    .row2{
        width: 30%;
        float: left;
        height: 460px;
        min-height: 460px!important;
    }
    .row3{
        width: 30%;
        float: left;
        height: 450px;
        min-height: 500px !important;
    }
    .ourteam{
        width: 90%;
        margin-left:8%;
        margin-right:8%;
    }
    .ourteam::after{
        float:none;
    }
    .content{
        margin-left:10px;
        margin-right:10px;
    }

}
hr {
    border-top: 3px solid rgb(116,153,227);
    border-left:none;
    border-right:none;
    border-bottom:none;
    height: 6px;
    width:2%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

.intro-content{
  height: 100em;
  padding-top:150px;
  background: url('../../../images/fer.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

.transparent {
  background-color: rgba(255,255,255,0.90);
}
