
                <mat-card class="transparent">
                    <div>
        
                        <h1 style="margin:30px;color:rgb(47, 75, 131);">Acceptance Test Plan</h1>
                        <p style="text-align: justify">

                                <iframe src='https://drive.google.com/open?id=1G0Lmg3TZToTx6gqvEWvlVrm89TewAzGRQSer_eclFTU' 
                                width='100%' 
                                height='800' 
                                frameborder='0'>This is an embedded <a target='_blank' 
                                href='http://office.com'>Microsoft Office</a> document, powered by
                                <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>


                            <!--<iframe src="https://docs.google.com/document/d/1G0Lmg3TZToTx6gqvEWvlVrm89TewAzGRQSer_eclFTU"></iframe> 
                            -->
                        </p>
                    </div>
                </mat-card>
     