
<div class="form">
<div class="columns" flex>
<mat-form-field class="input">
  <input matInput placeholder="What do you want to study?">
</mat-form-field>
<br />
<mat-form-field class="input">
  <input matInput placeholder="Where do you want to study?">
</mat-form-field>
<br />
<mat-radio-group>
  <mat-radio-button class="check" value="Undergraduate">Undergraduate</mat-radio-button>
  <mat-radio-button class="check" value="Graduate">Graduate</mat-radio-button>
</mat-radio-group>
<br/>
<mat-form-field class="selector">
  <mat-select placeholder="English Level">
    <mat-option *ngFor="let level of levels" [value]="level.value">
      {{level.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>
<mat-form-field class="selector">
  <mat-select placeholder="Semester">
    <mat-option *ngFor="let sem of semester" [value]="sem.value">
      {{level.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<button mat-raised-button color="primary" margin=10px >Go</button>
</div>
