
<div class="bgexplorer">
  <img class="variable-background" *ngIf="backgroundImage && backgroundImage != ''" [src]="backgroundImage">
  <div class="core-header">
      <app-navbar style="position:absolute;width:100%;right:0;top:0;"></app-navbar>
  </div>
  <div class="container custom-scrollbar" align="center">
    <mat-tab-group (selectedTabChange)="changeResultCard($event)" mat-stretch-tabs >
      <mat-tab label="Explorer">
        <app-explorer (explorerResult)="fetchExplorerResult($event)"
                      (backgroundImage)="changeBackgroundImage($event)"></app-explorer>
      </mat-tab>
      <mat-tab label="Comparator" >
        <app-comparator (comparatorResult)="fetchComparatorResult($event)"
                      (backgroundImage)="changeBackgroundImage($event)"></app-comparator>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div id="explorer-result-component">
    <br>
    <app-result-cards *ngIf="explorerTab" [courses]="explorerResult"></app-result-cards>
    <app-result-cards-comparator *ngIf="comparatorTab" [courses]="comparatorResult"></app-result-cards-comparator>
  </div>
</div>