<section id="landing-page" style="height: calc(100vh - 56px)">
  <div class="title-subtitle-div">
    <div class="animatedLeft fadeInLeft">
      <p class="title-bold">Discover</p>
      <p class="title-thin"> Courses </p>
    </div>
    <div class="animatedRight fadeInRight">
      <p class="subtitle-landing">from all over the world</p>
    </div>
    <div class="animatedIn fadeIn">
      <ul class="actions">
        <li><a id="big-green-button" class="button big special scrolly" (click)="getStarted();">Explore & compare</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<div *ngIf="getStart" class="bgexplorer" id="start">
  <div class="col-md-12">
    <p id="typewriter" class="chooser-heading"></p>
    <br>
  </div>
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-4">
    <div id="chooser-explorer-card" [ngClass]="{'chooser-card-active': chooserSelectedExplorer }"
         (click)="chooserSelect('explorer')" [routerLink]="[{ outlets: { sub: ['explorer'] } }]">
      <div class="chooser-card-text">
        <p class="chooser-card-title">EXPLORE</p>
        <p class="chooser-card-subtitle">courses from a university</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="chooser-comparator-card" [ngClass]="{'chooser-card-active': chooserSelectedComparator }"
         (click)="chooserSelect('comparator')" [routerLink]="[{ outlets: { sub: ['comparator'] } }]">
      <div class="chooser-card-text">
        <p class="chooser-card-title">COMPARE</p>
        <p class="chooser-card-subtitle">courses with semantic indexing</p>
      </div>
    </div>
  </div>
  <div class="container custom-scrollbar">
    <a routerLink="/university/1" class="item">
      <img src="images/uni_logos/unizg.png">
    </a>
    <a routerLink="/university/2" class="item">
      <img src="images/uni_logos/polimi.png">
    </a>
    <a routerLink="/university/4" class="item">
      <img src="images/uni_logos/laquila.png">
    </a>
    <a routerLink="/university/5" class="item">
      <img src="images/uni_logos/epfl.png">
    </a>
    <a routerLink="/university/6" class="item">
      <img src="images/uni_logos/texas.png">
    </a>
    <a routerLink="/university/7" class="item">
      <img src="images/uni_logos/stanford.png">
    </a>
    <a routerLink="/university/8" class="item">
      <img src="images/uni_logos/ucla.png">
    </a>
  </div>
</div>
<div id="filters-container" *ngIf="chooserSelectedExplorer || chooserSelectedComparator" style="position: relative;">
  <router-outlet name="sub"></router-outlet>
</div>
