.input {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }
.check {
    margin: 0 10px;
  }
.selector {
    margin: 20px;
}
.containerexp{
    width: 70%;
}

/* Layout definition*/
.search-explorer-layout, .table-explorer-layout {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
}

.search-explorer-layout {
  max-height: 60%;
  flex: 1 1 60%;
}

.table-explorer-layout {
  max-height: 40%;
  flex: 1 1 40%;
}

/* Table Result Definition */
/* -*- coding: utf-8 -*-
# @Author: Adrien Roques
# @Date:   2017-11-03
# @Last Modified by:   Adrien Roques
# @Last Modified time: 2017-11-04 */
.explorer-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.explorer-table-header {
  min-height: 34px;
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-header-row {
  background: #00008B;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  text-align: left;
}

.mat-header-cell {
  color: #F8F8FF;
  font-size: 18px;
  font-weight: bold;
}

.mat-cell {
  display: flex;
  justify-content: space-between;
  margin: 20px; /* TODO MODIFY */
}



